<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-Semibold-Italic.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
